* {
    box-sizing: border-box;
}

:root {
    --p-color: rgb(129, 129, 129);
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

p {
    color: var(--p-color);
}

::-webkit-scrollbar {
    display: none;
}

.main {
    padding: 0 10%;
}

footer {
    text-align: center;
    color: rgb(161, 161, 161);
    padding: 10px;
    background-color: #101010;
    opacity: 0.8;
}